@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@keyframes animate {
  0%{
    color: gold;
    transform: scale(1);
  }
  50%{
    color:rgb(231, 118, 12);
    transform: scale(1.3);
  }
  100%{
    color:white;
    transform:scale(1);
    
  }}
@keyframes textt {
    0%{
      width:0ch;
      
    }
    100%{
      width:28ch;
    }
  }

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  color: rgb(250, 250, 250);
  text-align: center;
  
}

body {
  margin: 0;
   background-color: rgb(23, 138, 94);
   background-image: url("./components/images/bg6.jpg");

 
  
}
 .bgi{
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
} 
.container{
    padding: 1rem; 
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    padding-top: 20px;
    
  }
	/* width: auto; */
  /* margin-top: 50px;
  padding-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgb(34, 9, 51);
	padding-left: 30px;
	padding-right: 30px;
    padding-top: 20px;
    height: auto;
    box-shadow: 10px 10px 10px rgba(243, 243, 240, 0.884);
    box-sizing: border-box;  */
/* } */
.container h3{
 animation-name: animate;
 animation-duration: 2s;
 animation-direction: forwards;
 animation-iteration-count: infinite;
 animation-delay: 1s;
 animation-timing-function: ease-in-out;
 color: gold;
 
}
.headd h2{
  animation: inin 4s steps(5);
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  color:gold;
  overflow: hidden;
  white-space: nowrap;
}
 /* .container h3{
  transform: translateX(10%);
  transition-property: all;
  transition-duration: 1s;
  overflow: hidden;
  color:rgb(34, 9, 51) ;
 }
 .container:hover h3{
  transform: translateX(0);
  color: rgb(230, 169, 39);
} */
@keyframes inin {
  0%{
    transform: translateX(10%);
  transition-property: all;
  transition-duration: 1s;
  overflow: hidden;
  color:rgba(33, 83, 58, 0.945); ;
  }
  100%{
    transform: translateX(0);
  color: rgb(230, 169, 39);
  }
}