html {
	background-color: rgb(236, 137, 98);
}
body{
	font-family: 'Courier New', Courier, monospace;
}
header h1{
	padding-top:  20px;
	padding-bottom: 20px;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(173, 63, 247);
	padding-left: 40px;
	padding-right: 40px;
}

.content-area {
	border-top: 3px solid rgb(240, 229, 73);
	border-bottom: 3px solid rgb(241, 225, 78);
}

.main-area {
	width: 66%;
	font-size: 17px;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.sidebar {
	width: 34%;
	float: left;
	background-color: rgb(180, 121, 247);
	padding:20px 40px;
	box-sizing: border-box;
	
}
footer{
	text-align: center;
	color:rgb(129, 50, 139);
	padding-bottom: 20px;
	padding-top: 20px;
}

img{
	max-width: 100%;
	height: auto;
}
.image-banner{
	position: relative;
}
.image-banner img{
	display: block;
}

.description-banner{
	position:absolute;
	bottom: 0;
	left: 0;
	color: aliceblue;
	background-color: rgba(0,0,100,0.40);
	padding: 5px 10px;
}
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
.site-nav{

}
.site-nav a{
	text-decoration: none;
	color: orange;
	padding: 10px 20px;
	border: 3px solid orange;
	display: block;
	margin-bottom: none;
}
.site-nav a:hover{
	background-color: rgb(248, 244, 240);
}
.site-nav ul{
	margin: 0;
	padding: 0;
}
.site-nav li{
	list-style: none;
	float: left;
	margin-right: 5px;
	font-weight:50px;
	
}